<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<select id="adminTransportation" resultType="transportation">
		SELECT 
		      TR_NO trNo
		     ,TR_TYPE trType
		     ,TR_TYPE2 trType2
		     ,TR_FEE trFee
          FROM
               TRANSPORTATION
         ORDER
            BY
              TR_NO
	</select>
	
	<insert id="addTransportation" parameterType="transportation">
		INSERT
		  INTO
		      TRANSPORTATION 
		      (
		      TR_NO
		     ,TR_TYPE
		     ,TR_TYPE2
		     ,TR_FEE
		      )
		VALUES
		      (
		      SEQ_TR_NO.NEXTVAL
		     ,#{trType}
		     ,#{trType2}
		     ,#{trFee}
		      )
	</insert>
	
	<delete id="deleteTr" parameterType="_int">
		DELETE 
		  FROM
		       TRANSPORTATION
		 WHERE
		     TR_NO = #{trNo}
	</delete>
	
	<select id="countTrRes" parameterType="transportation" resultType="_int">
		SELECT 
		      COUNT(TR_NO)
		 <if test='trType == "T"'>
		 FROM 
		     TAXI_RESERVATION
		 </if>
		 <if test='trType == "C"'>
		 FROM
		     CAR_RESERVATION
		 </if>
		 WHERE
		      TR_NO = #{trNo} AND 
		      STATUS = 'Y'
	</select>

	
	<select id="taxiReservationList" resultType="taxiReservation">
		SELECT 
		      TAXI_RNO taxiRno
		     ,TR_NO    trNo
		     ,TO_CHAR(TAXI_RDATE,'YY/MM/DD') taxiRDate
		     ,TAXI_RTIME taxiRTime
		     ,STATUS status
		     ,MEM_ID memId
		     ,TR_TYPE2 trType2
	    FROM
	         TAXI_RESERVATION JOIN TRANSPORTATION 
	         USING(TR_NO)
	    ORDER
	       BY
	         TAXI_RNO
	</select>
	
	<select id="carReservationList" resultType="carReservation">
		SELECT 
		      CAR_RNO carRno
		     ,TR_NO trNo
		     ,TO_CHAR(START_DATE,'YY-MM-DD') startDate
		     ,TO_CHAR(END_DATE,'YY-MM-DD') endDate
		     ,STATUS status
		     ,MEM_ID memId
		     ,TR_PAYMENT_NO trPaymentNo
		     ,TO_CHAR(TR_PAYMENT_DATE, 'YY-MM-DD') trPaymentDate
		     ,TR_CARD_NO trCardNo
			 ,TR_TYPE2 trType2
        FROM
            CAR_RESERVATION JOIN TRANSPORTATION USING(TR_NO)
        ORDER
           BY
             CAR_RNO
	</select>
	
	<update id="deleteTReservation" parameterType="String">
		UPDATE
		      TAXI_RESERVATION
		   SET
		      STATUS = 'N'
		WHERE
		     TAXI_RNO = #{resNo}
	</update>
	
	<update id="deleteCReservation" parameterType="String">
		UPDATE
		      CAR_RESERVATION
		   SET
		      STATUS = 'N'
		WHERE
		     CAR_RNO = #{resNo}
	</update>
	
	<select id="adminPlaceList" resultType="place">
		SELECT 
		      PLACE_NO placeNo
		     ,PLACE_TYPE placeType
		     ,PLACE_NAME placeName
		     ,PLACE_LOCATION placeLocation
		     ,PLACE_PHONE placePhone
		     ,PLACE_INFO placeInfo
		     ,PLACE_CHANGE_NAME placeChangeName
		     ,PLACE_COUNT placeCount
		 FROM
		     PLACE
		ORDER
		   BY
		     PLACE_NO DESC
	</select>
	
	<delete id="deletePlace" parameterType="_int">
		DELETE 
		      PLACE
		 WHERE
		      PLACE_NO = ${placeNo}
	</delete>
	
	<select id="countPlaceList" resultType="_int">
		SELECT
		      COUNT(PLACE_NO)
		  FROM
		      PLACE
	</select>
	
	<update id="modifyPlace" parameterType="place">
		UPDATE 
		      PLACE
		   SET
		      PLACE_TYPE = #{placeType}
		     ,PLACE_NAME = #{placeName}
		     ,PLACE_LOCATION = #{placeLocation}
		     ,PLACE_LAT = #{placeLat}
		     ,PLACE_LNG = #{placeLng}
		     ,PLACE_PHONE = #{placePhone}
		     ,PLACE_INFO = #{placeInfo}
		     ,PLACE_ORIGIN_NAME = #{placeOriginName}
		     ,PLACE_CHANGE_NAME = #{placeChangeName}
		WHERE
		     PLACE_NO = #{placeNo}    
	</update>
</mapper>