<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<resultMap id="boardResultSet" type="board">
		<result column="BOARD_NO" 		property="boardNo"/>
		<result column="BOARD_TITLE" 	property="boardTitle"/>
		<result column="BOARD_WRITER" 	property="boardWriter"/>
		<result column="VIEW_COUNT" 			property="viewCount"/>
		<result column="ENROLLDATE" 	property="enrolldate"/>
		<result column="RATING" 	property="rating"/>
		<result column="STATUS" 	property="status"/>
		<result column="BOARD_CONTENT" 	property="boardContent"/>
		<result column="BOARD_NUM" 	property="boardNum"/>
		<result column="ORIGIN_NAME" 	property="originName"/>
		<result column="CHANGE_NAME" 	property="changeName"/>
	</resultMap>
	
	<resultMap id="tagResultSet" type="tag">
		<result column="TAG_NAME" 		property="tagName"/>
		<result column="TAG_ID" 	property="tagId"/>
	</resultMap>
	<resultMap id="tbResultSet" type="tbridge">
		<result column="BRIDGE_NO"	property="bridgeNo"/>
		<result column="BRIDGE_ID" 	property="bridgeid"/>
	</resultMap>
	
	<resultMap id="commentsResult" type="comments">
	  <result property="commentNo" column="COMMENT_NO"/>
	  <result property="boardNo" column="BOARD_NO"/>
	  <result property="commentWriter" column="COMMENT_WRITER"/>
	  <result property="commentText" column="COMMENT_TEXT"/>
	  <result property="commentStatus" column="COMMENT_STATUS"/>
	  <result property="commentGroup" column="COMMENT_GROUP"/>
	  <result property="commentLevel" column="COMMENT_LEVEL"/>
	  <result property="regDate" column="REG_DATE" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<select id="selectFrListCount" resultType="_int">
			SELECT
					COUNT(*)
			FROM
					BOARD
			WHERE
					STATUS = 'Y'
			AND
					BOARD_NUM = 1		
	</select>
	<select id="selectReListCount" resultType="_int">
			SELECT
					COUNT(*)
			FROM
					BOARD
			WHERE
					STATUS = 'Y'
			AND
					BOARD_NUM = 2		
	</select>
	<select id="selectQnListCount" resultType="_int">
			SELECT
					COUNT(*)
			FROM
					BOARD
			WHERE
					STATUS = 'Y'
			AND
					BOARD_NUM = 3		
	</select>
	<select id="selectNoListCount" resultType="_int">
			SELECT
					COUNT(*)
			FROM
					BOARD
			WHERE
					STATUS = 'Y'
			AND
					BOARD_NUM = 6		
	</select>
	<select id="selectFrList" resultMap="boardResultSet">
			SELECT
					BOARD_NO
					,BOARD_TITLE
					,BOARD_WRITER
					,BOARD_CONTENT
					,VIEW_COUNT
					,TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS "ENROLLDATE"
			FROM 
					BOARD
			WHERE						
					STATUS = 'Y'
			AND
					BOARD_NUM = 1	
			ORDER
				BY
					BOARD_NO DESC
	</select>
	<select id="selectReList" resultMap="boardResultSet">
			SELECT
					BOARD_NO
					,BOARD_TITLE
					,BOARD_WRITER
					,BOARD_CONTENT
					,VIEW_COUNT
					,TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS "ENROLLDATE"
			FROM 
					BOARD
			WHERE						
					STATUS = 'Y'
			AND
					BOARD_NUM = 2	
			ORDER
				BY
					BOARD_NO DESC
	</select>
	<select id="selectQnList" resultMap="boardResultSet">
			SELECT
					BOARD_NO
					,BOARD_TITLE
					,BOARD_WRITER
					,BOARD_CONTENT
					,VIEW_COUNT
					,TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS "ENROLLDATE"
			FROM 
					BOARD
			WHERE						
					STATUS = 'Y'
			AND
					BOARD_NUM = 3	
			ORDER
				BY
					BOARD_NO DESC
	</select>
	<select id="selectNoList" resultMap="boardResultSet">
			SELECT
					BOARD_NO
					,BOARD_TITLE
					,BOARD_WRITER
					,BOARD_CONTENT
					,VIEW_COUNT
					,TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS "ENROLLDATE"
			FROM 
					BOARD
			WHERE						
					STATUS = 'Y'
			AND
					BOARD_NUM = 6	
			ORDER
				BY
					BOARD_NO DESC
	</select>
	
	<select id="insertFrBoard" parameterType="board">
		INSERT
			INTO
					BOARD
					(
					BOARD_NO
					,BOARD_TITLE
					,BOARD_CONTENT
					,BOARD_WRITER
					,ORIGIN_NAME
					,CHANGE_NAME
					,BOARD_NUM
					)
			VALUES
					(
					SEQ_BNO.NEXTVAL
					,#{boardTitle}
					,#{boardContent}
					,#{boardWriter}
					,#{originName}
					,#{changeName}
					,1
					)		
	</select>
	<update id="updateFrBoard">
				UPDATE
						BOARD
				SET
						BOARD_TITLE = #{boardTitle}
						,BOARD_CONTENT = #{boardContent}
						,ORIGIN_NAME = #{originName}
						,CHANGE_NAME = #{changeName}
				WHERE
						BOARD_NO = #{boardNo}
				AND
						BOARD_NUM =1		
	</update>
 
	<select id="insertTagBridge" parameterType="tbridge">
    INSERT INTO 
    			TAG_BRIDGE
    			(BRIDGE_NO, BRIDGE_ID)
    VALUES 
    			(SEQ_BNO.CURRVAL, #{bridgeId})		
	</select>
	<delete id="deleteTagBridges">
	DELETE FROM TAG_BRIDGE
	WHERE BRIDGE_NO= #{boardNo}					
	</delete>
	<select id="updateTagBridge" parameterType="tbridge">
    INSERT INTO
    			TAG_BRIDGE
    			(BRIDGE_NO, BRIDGE_ID)
    VALUES 
    			(#{bridgeNo}, #{bridgeId})		
	</select>
    <select id="searchTagId" resultType="int">
        SELECT 
        		TAG_ID
        FROM
         		TAG 
        WHERE 
        		TAG_NAME=#{tagName}
    </select>

	<update id="increaseCount">
		UPDATE
				BOARD
		SET
				VIEW_COUNT = VIEW_COUNT + 1
		WHERE
				BOARD_NO = #{boardNo}
		AND
				STATUS = 'Y'						
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT
				BOARD_NO
				,BOARD_TITLE
				,BOARD_WRITER
				,BOARD_CONTENT
				,ORIGIN_NAME
				,CHANGE_NAME
				,VIEW_COUNT
				,TO_CHAR(ENROLLDATE, 'YYYY-MM-DD') AS "ENROLLDATE"
		FROM
				BOARD
		WHERE
				STATUS = 'Y'
		AND
				BOARD_NO = #{boardNo}				
	</select>
	
	<update id="deleteBoard" parameterType="board">
			UPDATE
					BOARD
				SET
					STATUS = 'N'
			WHERE
					BOARD_NO=#{boardNo}			
	</update>
	<select id="selectCommentsList" resultMap="commentsResult">
	    SELECT
	        COMMENT_NO,
	        COMMENT_WRITER,
	        COMMENT_TEXT,
	        REG_DATE
	    FROM
	        COMMENTS
	    WHERE
	        COMMENT_STATUS = 'Y'
	        AND BOARD_NO = #{boardNo}
	    ORDER BY
	        COMMENT_NO DESC
	</select>
	<select id="CommentsCount" resultType="_int">
	    SELECT
	        COUNT(*)
	    FROM
	        COMMENTS
	    WHERE
	        COMMENT_STATUS = 'Y'
	        AND BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertComments" parameterType="comments">
		INSERT
			INTO
				COMMENTS
				(
				COMMENT_NO
				,COMMENT_TEXT
				,COMMENT_WRITER
				,BOARD_NO
				)
			VALUES
				(
				SEQ_C_NO.NEXTVAL
				,#{commentText}
				,#{commentWriter}
				,#{boardNo}
				)
	</insert>
	<insert id="addTag" parameterType="tag">
		INSERT
			INTO
				TAG
				(
				TAG_ID
				,TAG_NAME
				)
			VALUES
				(
				SEQ_TNO.NEXTVAL
				,#{tagName}
				)
	</insert>
	<delete id="removeTag" parameterType="tag">
			DELETE
		    FROM	
		        TAG
		    WHERE
		        TAG_NAME=#{tagName}
		</delete>
    
    <select id="selectTag" resultType="string">
        SELECT 
        		TAG_NAME
        FROM
         		TAG 
        WHERE 
        		TAG_NAME=#{tagName}
    </select>
    <select id="selectTagId" resultMap="tagResultSet">
        SELECT 
        		TAG_ID
        FROM
         		TAG 
        WHERE 
        		TAG_NAME=#{tagName}
    </select>
    <select id="selectTagName" resultMap="tagResultSet">
    	 SELECT 
        		TAG_NAME
    	FROM
        		TAG 
    	WHERE 
		        TAG_ID IN (
		            SELECT
		                BRIDGE_ID
		            FROM
		                TAG_BRIDGE
		            WHERE
		                BRIDGE_NO = #{boardNo}
		        )
    </select>
    <select id="selectTagAll" resultMap="tagResultSet">
    	 SELECT 
        		*
    	FROM
        		TAG 
    	WHERE 
		        TAG_ID IN (
		            SELECT
		                BRIDGE_ID
		            FROM
		                TAG_BRIDGE
		            WHERE
		                BRIDGE_NO = #{boardNo}
		        )
    </select>
    
    
    
</mapper>