<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<insert id="insertMember" parameterType="member">
		INSERT
		INTO
				MEMBER
		VALUES
				(
				#{memId}
				,#{memNick}
				,#{memPwd}
				,#{memPhone}
				,#{memEmail}
				,#{memPhoto}
				,#{memPath}
				,#{memIntro}
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,NULL
				,#{memKakaoId}
				)
	</insert>
	
	<select id="idCheck" resultType="_int">
		select
				count(*)
		from
				member
		where
				mem_id = #{checkId}
	</select>
	
	<select id="nickCheck" resultType="_int">
		select
				count(*)
		from
				member
		where
				mem_nick = #{checkNick}
	</select>

	<select id="phoneCheck" resultType="_int">
		select
				count(*)
		from
				member
		where
				mem_phone = #{checkPhone}
	</select>
	
	<select id="emailCheck" resultType="_int">
		select
				count(*)
		from
				member
		where
				mem_email = #{checkEmail}
	</select>
	
	<select id="selectMember" parameterType="member" resultType="Member">
		SELECT
				MEM_ID memId
				,MEM_NICK memNick
				,MEM_PWD memPwd
				,MEM_PHONE memPhone
				,MEM_EMAIL memEmail
				,MEM_PHOTO memPhoto
				,MEM_PATH memPath
				,MEM_INTRO memIntro
				,MEM_GRADE memGrade
				,MEM_DATE memDate
				,MEM_MEMO memMemo
				,MEM_POINT memPoint
				,MEM_REPORT memReport
				,MEM_STATUS memStatus
				,MEM_UPDATE memUpdate
				,MEM_KAKAOID memKakaoId
		FROM
				MEMBER
		WHERE
				MEM_ID = #{memId}
		AND
				MEM_STATUS = 'Y'
	</select>
	
	<select id="selectMemoCount" resultType="_int">
		select
				count(*)
		from
				memo
		where
				MEMO_RECEIVER = #{memId}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<insert id="sendMail" parameterType="cert">
		INSERT
		  INTO 
		      CERTIFIED
		      (
		      CERTIFIED_ID,
		      CERTIFIED_CODE,
		      CERTIFIED_DATE
		      )
		VALUES
			  (
			  #{who},
			  #{secret},
			  SYSDATE
			  )
			  
	</insert>

	
</mapper>