<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<insert id="insertMember" parameterType="member">
		INSERT
		INTO
				MEMBER
		VALUES
				(
				#{memId}
				,#{memNick}
				,#{memPwd}
				,#{memPhone}
				,#{memEmail}
				,#{memPhoto}
				,#{memPath}
				,#{memIntro}
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,DEFAULT
				,NULL
				,#{memKakaoId}
				)
	</insert>
	
	
	<select id="idDouble" resultType="_int">
		select
				count(*)
		from
				member
		where
				mem_id = #{checkId}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<insert id="sendMail" parameterType="cert">
		INSERT
		  INTO 
		      CERTIFIED
		      (
		      CERTIFIED_ID,
		      CERTIFIED_CODE,
		      CERTIFIED_DATE
		      )
		VALUES
			  (
			  #{who},
			  #{secret},
			  SYSDATE
			  )
			  
	</insert>


</mapper>